---
title: About
layout: page
---

<p>Hi, I'm Annie Schwartz. I am majoring in computer science at the University of Minnesota, and will be graduating in December 2018. My Clifton StrengthsFinder themes are Adaptability, Restorative, Woo, Communication, and Empathy. This means I'm a natural problem solver who is always looking to improve the current status quo, but also thrive around people. I'm also a proven leader, having grown my school's ACM-W chapter from a tiny group to a healthy, self-sustaining chapter that has the bandwidth to put on many events to benefit our school community.

<h2>Work Experience</h2>
<div class="jobs-table text-normal">
	{% for job in site.data.jobs %}
		<div class="row">
		    <div class="col job-title strong">
			    {{ job.title }}
		    </div>
		    <div class="col job-date">
				{% if job.start-year == job.end-year %}
					{{ job.start-year }}
				{% else %}
					{{ job.start-year }} &ndash; {{ job.end-year }}
				{% endif %}
		    </div>
		</div>

		<div class="row">
		    <div class="col job-employer">
		    	{{ job.employer}}
		    </div>
		</div>

		<div class="row">
		    <div class="col job-description">
		    	{{ job.description }}

		    	{% if job.duties %}
		    		<ul>
		    			{% for duty in job.duties %}
		    				<li>{{ duty }}</li>
		    			{% endfor %}
		    		</ul>
		    	{% endif %}
		    </div>
		</div>
	{% endfor %}
</div>



<h2>Professional Goals</h2>
<p>
	My goal is to be a software engineer. I am most experienced in web developent, but I am very open to exploring other options. Computer science is such a large field, I can't imagine choosing a single direction at this point! I am currently searching for a remote internship for my final year of university.
</p>
</ul>

<!--
<h2>Skills</h2>	
<ul class="skill-list">
	<li>HTML - Jade - Haml - Erb</li>
	<li>Responsive (Mobile First)</li>
	<li>CSS (Stylus, Sass, Less)</li>
	<li>Css Frameworks (Bootstrap, Foundation)</li>
	<li>Javascript (Design Patterns, Testes)</li>
	<li>NodeJS</li>
	<li>AngularJS - ReactJS</li>
	<li>Grunt - Gulp - Yeoman</li>
	<li>Git</li>
	<li>PHP</li>
	<li>Python</li>
	<li>MySQL - MongoDB</li>
	<li>Scrum and Kanban</li>
	<li>TDD e Continuous Integration</li>
</ul>
-->
