---
title: About
layout: page
---

<p>Briefly explains who you are, your work experience, and professional goals</p>

<h2>Work Experience</h2>

<table>
	{% for job in site.data.jobs %}
		<tr>
			<td class="job-title">
				<strong>{{ job.title }}</strong>
			</td>
			<td class="job-date" style="text-alight: right;">
			<!-- TODO: classes for above, not inline style -->
				{% if job.start-year == job.end-year %}
					{{ job.start-year }}
				{% else %}
					{{ job.start-year }} &ndash; {{ job.end-year }}
				{% endif %}
			</td>
		</tr>
		<tr class="job-employer">
			<td>
				{{ job.employer }}
			</td>
		</tr>
		<tr class="job-description">
			<td>
				{{ job.description }}
			</td>
		</tr>
	{% endfor %}
</table>

<!-- <h3>Front-End Web Developer (Student)</h3>
SUA Marketing & Design, University of Minnesota
description

<h3>Software Development Intern</h3>
Wells Fargo
dfjhfdf

<h3>ACM-W Chapter President</h3>
Association for Computing Machinery for Women, University of Minnesota
fhdfdhjd -->

<h2>Professional Goals</h2>
<p>
Doesn't necessarily have to be a list... may be better off as a blurb.
</p>
<ul>
	<li>Lorem Lorem</li>
	<li>Ipsum Dolor</li>
	<li>Dolor Lorem</li>
</ul>

<!--
<h2>Skills</h2>	
<ul class="skill-list">
	<li>HTML - Jade - Haml - Erb</li>
	<li>Responsive (Mobile First)</li>
	<li>CSS (Stylus, Sass, Less)</li>
	<li>Css Frameworks (Bootstrap, Foundation)</li>
	<li>Javascript (Design Patterns, Testes)</li>
	<li>NodeJS</li>
	<li>AngularJS - ReactJS</li>
	<li>Grunt - Gulp - Yeoman</li>
	<li>Git</li>
	<li>PHP</li>
	<li>Python</li>
	<li>MySQL - MongoDB</li>
	<li>Scrum and Kanban</li>
	<li>TDD e Continuous Integration</li>
</ul>
-->
