<!-- GENERICS -->
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/favicon.ico">
<!-- link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon.svg" type="image/svg+xml" sizes="any" -->
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-128.png" sizes="128x128">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-167.png" sizes="167x167">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-180.png" sizes="180x180">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-192.png" sizes="192x192">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-228.png" sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href=“/path/to/favicon-196.png">

<!-- iOS -->
<link rel="apple-touch-icon" href="{{ site.url }}/assets/images/favicon/favicon-180.png" sizes="180x180">

<!— Windows 8.1 + IE11 and above —>
<meta name="msapplication-config" content="/path/to/browserconfig.xml" />