<!-- GENERICS -->
<link rel="icon" type="image/x-icon" href="{{ site.url }}/assets/images/favicon/favicon.ico">
<!-- link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon.svg" type="image/svg+xml" sizes="any" -->
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-32.png" sizes="32x32">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-128.png" sizes="128x128">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-167.png" sizes="167x167">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-180.png" sizes="180x180">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-192.png" sizes="192x192">
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon-228.png" sizes="228x228">

<!-- Safari Pinned Tab -->
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#808080">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href=“{{ site.url }}/assets/images/favicon/favicon-196.png">
<!-- TO DO: web app manifest for modern Android Chrome? -->


<!-- iOS -->
<link rel="apple-touch-icon" href="{{ site.url }}/assets/images/favicon/favicon-180.png" sizes="180x180">

<!— Windows 8.1 + IE11 and above —>
<meta name="msapplication-TileColor" content="#ebecf0">
< !-- TO DO: meta name="msapplication-config" content="/path/to/browserconfig.xml" />