<!-- TODO: (when have time) fix the stupid fucking navbar on mobile -->

<center>
    <nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
        <ul class="list">

            {% if page.title != "Home" %}
                <li class="item">
                    <a class="link site-name">Annie Schwartz</a>
                </li>
            {% endif %}


            {% if page.title != "Home" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/">Home</a>
                </li>
            {% endif %}

            <!-- !! NOTE: !!
                if you add a new page (uncomment out its code), update the old code for it to show is-active instead of disspear when on its own page-->

            <!-- {% if site.blog == true %}
                {% if page.title != "Blog" %}
                    <li class="item">
                        <a class="link" href="{{ site.url }}/blog">Blog</a>
                    </li>
                {% endif %}
            {% endif %} -->

            <!-- {% if site.projects == true %}
                {% if page.title != "Projects" %}
                    <li class="item">
                        <a class="link" href="{{ site.url }}/projects">Projects</a>
                    </li>
                {% endif %}
            {% endif %} -->

            {% if site.about == true %}
                <li class="item">
                    <a class="link {% if page.title == "About Me" %} is-active"
                    {% else %}" href="{{ site.url }}/about"
                    {% endif %}>
                    About</a>
                </li>
            {% endif %}

            {% if site.resume == true %}
                <li class="item">
                    <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
                </li>
            {% endif %}

            {% if site.resume-page == true %}
                <li class="item">
                    <a class="link {% if page.title == "Résumé" or page.title=="Resume" %} is-active"
                    {% else %}" href="{{ site.url }}/resume"
                    {% endif %}>
                    Résumé</a>
                </li>
            {% endif %}

            {% if site.contact-page == true %}
                <li class="item">
                    <a class="link {% if page.title == "Contact" %} is-active"
                    {% else %}" href="{{ site.url }}/contact"
                    {% endif %}>
                    Contact</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</center>
